.center {
    text-align: center;
}

body {
    background-color: #eee;
}

.container {
    border: 1px solid #ccc;
    border-radius:8px;
    background-color: #fff;
    margin-top: 15px;
}

.header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
}

.gradient {
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
}

.site-title {
    color: #fff;
    text-decoration: none;
}

a.site-title:hover {
    color: #fff;
}

.page-header {
    text-align: center;
    margin: 25px 15px;
}

thead {
    color: white;
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
}

th, td {
    text-align: center;
    vertical-align: middle;
}

.empty-weights-msg {
    font-size: 25px;
    text-align: center;
}

.modal-header {
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
    color: white;
}

.error-msg {
    color: red;
    font-weight: bold;
}