body {
    background-color: #eee;
}

.center {
    text-align: center;
}

.container {
    border: 1px solid #ccc;
    border-radius:8px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
}

.gradient {
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
}

.site-title {
    color: #fff;
    text-decoration: none;
}

a.site-title:hover {
    color: #fff;
}

.page-header {
    text-align: center;
    margin: 25px 15px;
}

thead {
    color: white;
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
}

th, td {
    text-align: center;
    vertical-align: middle;
}

a.header-link {
    color: #fff;
    text-decoration: none;
}

.empty-weights-msg {
    font-size: 25px;
    text-align: center;
}

.charts-msg {
    font-size: 20px;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

.modal-header {
    background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
    color: white;
}

.error-msg {
    color: red;
    font-weight: bold;
}

.add-weight-error-msg {
    color: red;
    font-weight: bold;
}

#statsTable td {
    font-size: 22px;
}

.statsTableTdTitle {
    text-align: right;    
}

.statsTableTdStat {
    text-align: left;
}